// Project
//
// Project description examples
//
//
// Style guide: project styles
//
// Test Block
//
// Initial testing block styles in KSS node. 
//
// Markup:
// <div class="test-block">
//   <div class="inside">
//      Sugar plum cookie ice cream chocolate cake. Chupa chups jujubes tart candy
//      cheesecake gummi bears cheesecake tiramisu. Oat cake sugar plum macaroon lemon
//      drops bonbon sweet roll wafer tiramisu chocolate. Caramels pie oat cake sweet
//      marshmallow. Chocolate cake chocolate toffee. Macaroon powder wafer bear claw
//      oat cake jelly.
//   </div>
// </div>
//
// Style guide: test-block

// core style for .test-block
.test-block {
  width: 95%;
  background: yellowgreen;
  display: block;
  padding: 20px;
  border: 1px dashed lightgrey;
}
