//
// Test Block
//
// Markup: ../kss_html/block.html
//
// Style guide: Blocks

// core style for .blockcustom
.blockcustom {
  width: 90%;
  display: block;
  padding: 20px;
  border: 1px dashed lightgrey;
  margin: 0 0 20px 0;
  background: lightgrey;
  border-radius: 5px;
}

// core style for .test-block
.test-block {
  background: yellowgreen;
}

// core style for .cheese
.cheese {
  background: yellow;
  border: 1px dotted black;
  color: green;
}

// Headers
//
// Markup: ../kss_html/headers.html
//
// Style guide: Headlines

// core style for headlines

h1, h2, h3 {
  color: #336666;
  font-family: cursive;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
}